pre.language-fml {
    background-color: #eee;
    text-shadow: unset;
}

pre.language-fml code.language-fml {
    white-space: pre-wrap;
    text-shadow: unset;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    background: unset;
}


pre.language-fml code.language-fml .token.keyword {
    color: black;
    font-weight: bold;
}

pre.language-fml code.language-fml .token.rule-name {
    font-style: italic;
}

pre.language-fml code.language-fml .token.function {
    color: black;
    font-weight: bold;
}

pre.language-fml code.language-fml .token.punctuation {
    color: navy;
}

pre.language-fml code.language-fml .token.builtin {
    font-weight: bold;
}

pre.language-fml code.language-fml .token.variable {
    color: maroon;
}

pre.language-fml code.language-fml .token.arrow {
    font-weight: bold;
}

pre.language-fml code.language-fml .token.constant {
    color: blue;
}

pre.language-fml code.language-fml .token.operator {
    color: black;
    font-weight: bold;
}

pre.language-fml code.language-fml .token.property {
    color: #333333;
}